@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ---------------------------------- body ---------------------------------- */
body {
    padding: 0;
    margin: 0;
    font-family: "Exo", sans-serif;
    min-height: 100vh;
    background-color: grey;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

/* --------------------------------- header --------------------------------- */
header {
  color: blue;
  background: red;
  text-align: center;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menucontainer {
    font-size: 0;
    position: static;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 100%;
}

.menuitem a i {
    padding-top: 0.5rem;
    display: block;
    font-size: 1.5rem;
}

.menuitem span {
    display: block;
    font-size: 1rem;
}

.nav-bg{
  background-color: #848482;
  color: #CCDAD1;
}

.nav-bg a {
  color: #CCDAD1;
}

.nav-col {
  color: #CCDAD1;
}

/* --------------------------------- Section -------------------------------- */
section {
  display: block;
}

.side-section {
  color: 14110F;
  background-color: #CCDAD1;
  min-height: 90vh;
}

.main-section {
  color: #38302E;
  background-color: #6F6866;
  min-height: 90vh;
}

.section-header {
  text-align: center;
}

/* --------------------------------- Footer --------------------------------- */
footer {
  color: #848482;
  background-color: #14110F;
  text-align: center;
  margin: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
}

/* ----------------------------- Media Queries ------------------------------ */

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* ----------------------------- Media Queries ------------------------------ */

@media (max-width:767px) {
  header {
    text-align: left;
  }

  .copyright {
    text-align: center;
  }

  .mobile {
		display: none;
	}
}
