{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-12">
      <h4 class="section-header">Your List</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        {% for k, v in the_list.items() %}
          {% if k == "list_name" %}
            <a class="list-group-item">
              List Name: {{ v }}
            </a>
          {% elif k == "list_author" %}
            <a class="list-group-item">
              Created by: {{ v }}
            </a>
          {% elif k == "categories" %}
            <a class="list-group-item">
              Category: {{ v }}
            </a>
          {% elif k == "created" %}
            <a class="list-group-item">
              Last Updated on: {{ v }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h4 class="section-header">List Items</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        {% for i in the_itm %}
            </br>
            {% for k, v in i.items() %}
                {{ k }}: {{ v }}
            {% endfor %}
            </br>
        {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="section-header">Add items to your list</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form class="" action="{{ url_for('add_items', obj=obid) }}" method="POST">
        {% for k, v in the_cat.items() %}
          {% if k == "fields" %}
              {% for i in v %}
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{ i }}</span>
                </div>
                <input id="{{ i }}" name="{{ i }}" type="text" class="form-control" placeholder="Enter {{ i }}">
              </div>
              {% endfor %}
          {% endif %}
        {% endfor%}
        <button class="btn waves-effect waves-light" type="submit">
          Add Item <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>

{% endblock %}
