<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/d5901c0a36.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Bucket List</title>
</head>

<body>
  <!-- **************************** Header *********************************** -->
  <header class="container-fluid">
    <!--
      The below code for the Navbar is taken from W3Schools at the following link:
      https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp
      -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="{{ url_for('home') }}">Bucket Lists</a>
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- added ml-auto to right align the menu on desktop -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create') }}">
              <i class="fa fa-sign-in-alt" aria-hidden="true"></i> Create list
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- **************************** /Header ********************************** -->

  <!-- **************************** Section ********************************** -->
  <section class="section">
    <div class="row no-gutters section-row">
        {% block content %}{% endblock %}
    </div>
  </section>
  <!-- **************************** /Section ********************************* -->

  <!-- ***************************** Footer ********************************** -->
  <footer class="footer">
    <div class="row">
      <div class="col-6 social">
        <h5 class="footer-header">Follow us on Social Media</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item social-item">
            <a target="_blank" href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
              <span class="sr-only">Facebook</span> <!-- This will be read by a screen reader. It does not show on the page -->
            </a>
          </li>
          <li class="list-inline-item social-item">
            <a target="_blank" href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="sr-only">Twitter</span> <!-- This will be read by a screen reader. It does not show on the page -->
            </a>
          </li>
          <li class="list-inline-item social-item">
            <a target="_blank" href="#">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
              <span class="sr-only">Pinterest</span> <!-- This will be read by a screen reader. It does not show on the page -->
            </a>
          </li>
          <li class="list-inline-item social-item">
            <a target="_blank" href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <span class="sr-only">Instagram</span> <!-- This will be read by a screen reader. It does not show on the page -->
            </a>
          </li>
          <li class="list-inline-item social-item">
            <a target="_blank" href="#">
              <i class="fa fa-youtube" aria-hidden="true"></i>
              <span class="sr-only">YouTube</span> <!-- This will be read by a screen reader. It does not show on the page -->
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 copyright">
        &COPY; Sean Carley - May 2020
        <br /> Code Institute Milestone Project-3
      </div>
    </div>
  </footer>
  <!-- ***************************** /Footer ********************************* -->
</body>
</html>
