<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
    <script src="https://kit.fontawesome.com/d5901c0a36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bucket List</title>
  </head>

  <body>
<!-- **************************** Header *********************************** -->
    <header class="container-fluid">
      <div class="row no-gutters mobile">
        <div class="col-md-12">
          <div class="opaque-overlay">&nbsp;</div>
          <h1 class="name uppercase">Bucket Lists</h1>
          <h2 class="tag-line lowercase">Create your Ultimate Watch-List</h2>
        </div>
      </div>
      <div class="row no-gutters mobile">
        <div class="col">
          <ul id="nav" class="list-inline menucontainer">
            <li class="col-md-4 list-inline-item menuitem">
              <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="col-md-4 list-inline-item menuitem">
              <a href="#">
                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                <span>Sign Up/In</span>
              </a>
            </li>
            <li class="col-md-4 list-inline-item menuitem">
              <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span>Public Lists</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
<!-- **************************** /Header ********************************** -->

<!-- **************************** Section ********************************** -->
    <section class="section">
      <div class="row">
        <div class="col-md-4 side-section">
          <div class="row">
            <div class="col">
              <h3 class="section-header">What's it all about?</h3>
              <p>
                This site allows you to create a reading list of books or comics you
                would like to read, TV shows or movies you'd like to watch, or games
                you'd like to play. For inspiration, see the public lists below with
                suggestions from other users. Sign up to save your own lists.
              </p>
              <p class="mobile">
                You can even check off completed items to keep tack of your progress.
                Lists can be edited to add or remove items, and they can be kept
                private or shared with other users. You decide.
                <br/>
                <br/>
                Look around, and then <a href="#">sign up</a> or
                <a href="#">sign in</a> to get going.
              </p>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </section>
<!-- **************************** /Section ********************************* -->

<!-- ***************************** Footer ********************************** -->
    <footer class="footer">
      <div class="row">
        <div class="col-md-3">
          <h5 class="footer-header">Got a Suggestion?</h5>
          <p>Click Here to get in contact.</p>
        </div>
        <div class="col-md-6">
          <h5 class="footer-header">Follow me on Social Media</h5>
        </div>
        <div class="col-md-3 copyright">
          &COPY; Sean Carley - May 2020
          <br/> Code Institute Milestone Project-3
        </div>
      </div>
    </footer>
<!-- ***************************** /Footer ********************************* -->
  </body>
</html>
