{% extends 'base.html' %}

{% block content %}
<div class="col-md-12 main-section">
<div class="row">
  <div class="col-md-12">
    <h3 class="section-header">All Lists</h3>
  </div>
</div>
<div class="row">
  {% if ilist %}
  <!-- This is used to load selected list items -->
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h4>Lists</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>List Name</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        {% for list in lists %}
        <tr>
          <td>
            <a href="{{ url_for('home', list_id=list._id) }}">{{ list.list_name }}</a>
          </td>
          <td>
            <a href="{{ url_for('home', list_id=list._id) }}">{{ list.categories }}</a>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="List Actions">
              <a class="btn-secondary" href="{{ url_for('add_aitems', obj=list._id) }}" role="button">
                <i class="fas fa-plus"></i>
              </a>
              <a class="btn-secondary" href="{{ url_for('edit_list', list_id=list._id)}}" role="button">
                <i class="fas fa-edit"></i>
              </a>
              <a class="btn-secondary" href="{{ url_for('delete_list', list_id=list._id ) }}" role="button">
                <i class="far fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h4>List Items</h4>
    <div id="accordion_2">
      {% for item in ilist %}
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" href="#c{{ loop.index }}">
            <h5>{{ item.title}} - ({{ item.released }})</h5>
          </a>
        </div>
        <div id="c{{ loop.index }}" class="collapse" data-parent="#accordion_2">
          <div class="card-body">
            <div class="row-card">
              <div class="col-xs-6">
                {% for k, v in item.items() %}
                {% if k != "_id" and k != "list_id" and k != "title" and k != "released" and k != "info" %}
                {% if k != "completed" %}
                  {{ k }}: {{ v }}<br/>
                {% else %}
                {% if v == "on" %}
                  <td><input id="completed" name="completed" type="checkbox" checked disabled></td>
                {% else %}
                  <td><input id="completed" name="completed" type="checkbox"></td>
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
              </div>
              <div class="col-xs-6">
                {% for l, w in item.info.items() %}
                <h5>{{ l }}</h5>
                {{ w }}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-1"></div>
  {% else %}
  <!-- This is used for the initial load of the webpage -->
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h4>Lists</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>List Name</th>
          <th>Category</th>
          <th class="mobile">Created by</th>
          <th class="mobile">Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for list in lists %}
        <tr>
          <td>{{ list.list_name }}</td>
          <td>{{ list.categories }}</td>
          <td class="mobile">{{ list.list_author }}</td>
          <td class="mobile">{{ list.created }}</td>
          <td><a href="{{ url_for('home', list_id=list._id) }}" class="btn btn-info" role="button">Show</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
  {% endif %}
</div>
<div class="row bottom">
  <div class="col-md-12">
    <h4 class="section-header">Create a List</h4>
    <button class="button" type="button" name="button">
      <a href="{{ url_for('create') }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        Create
      </a>
    </button>
  </div>
</div>
</div>

{% endblock %}
