{% extends 'base.html' %}

{% block side_content %}

<div class="row">
  <div class="col">
    {% if ilist %}
    <h3 class="section-header">{{ wiki_ttl }}</h3>
    <p>{{ wiki_smry }}</p>
    <p>Information Provided by <a href="{{ url_for('wikipedia') }}">Wikipedia</a></p>
    {% else %}
    <h3 class="section-header">What's it all about?</h3>
    <p>
      This site allows you to create a reading list of books or comics
      you would like to read, TV shows or movies you'd like to watch,
      or games you'd like to play. For inspiration, see the public
      lists below with suggestions from other users. Sign up to save
      your own lists.
    </p>
    <p class="mobile">
      You can even check off completed items to keep tack of your
      progress. Lists can be edited to add or remove items, and they
      can be kept private or shared with other users. You decide.
      <br />
      <br />
      Look around, and then <a href="#">sign up</a> or
      <a href="#">sign in</a> to get going.
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3 class="section-header">Public Lists</h3>
  </div>
</div>
<div class="row">
  {% if ilist %}
  <!-- This is used to load selected list items -->
  <div class="col-md-6">
    <h4 class="section-header">Lists</h4>
    <div class="list-group">
      {% for list in lists %}
      <a href="{{ url_for('home', list_id=list._id) }}" class="list-group-item list-group-item-action">
        {{ list.list_name }} - {{ list.created }}
      </a>
      <button class="btn" type="submit" name="action">
        <a href="{{ url_for('edit_list', list_id=list._id)}}" class="waves-effect waves-light btn btn_small">
          Edit <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
      </button>
      <button class="btn" type="submit" name="action">
        <a href="{{ url_for('delete_list', list_id=list._id ) }}" class="waves-effect waves-light btn btn_small">
          Delete <i class="fas fa-trash-alt" aria-hidden="true"></i>
        </a>
      </button>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="section-header">List Items</h4>
    <div class="list-group">
      {% for item in ilist %}
      <div class="row">
        <div class="col-sm-8">
          {% for k, v in item.items() %}
          {% if k == "title" %}
          {{ k }}: {{ v }}<br />
          {% elif k == "released" %}
          {{ k }}: {{ v }}
          {% elif k == "completed" %}
            {% if v == "on" %}
            <input id="completed" name="completed" type="checkbox" checked disabled>
            {% else %}
            <input id="completed" name="completed" type="checkbox">
            {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-sm-4">
          <!-- {% for l, w in item.items() %}
          {% if l == "_id" %}
          <button class="btn" type="submit" name="action">
            <a href="" class="waves-effect waves-light btn btn_small">
              Edit <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
          </button>
          {% endif %}
          {% endfor %} -->
          {% for m, x in item.items() %}
          {% if m == "_id" %}
          <button class="btn" type="submit" name="action">
            <a href="{{ url_for('delete_item', item_id=x ) }}" class="waves-effect waves-light btn btn_small">
              Delete <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </a>
          </button>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="section-header">Create a List</h4>
        <button type="button" name="button">
          <a href="{{ url_for('create') }}">
            <i class="fa fa-list" aria-hidden="true"></i>
            Create
          </a>
        </button>
      </div>
    </div>
    {% else %}
    <!-- This is used for the initial load of the webpage -->
    <div class="col-md-12">
      <h4 class="section-header">All Lists</h4>
      <div class="list-group">
        {% for list in lists %}
        <a href="{{ url_for('home', list_id=list._id) }}" class="list-group-item list-group-item-action">
          {{ list.list_name }} - {{ list.created }}
        </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="section-header">Create a List</h4>
      <button type="button" name="button">
        <a href="{{ url_for('create') }}">
          <i class="fa fa-list" aria-hidden="true"></i>
          Create
        </a>
      </button>
    </div>
  </div>
</div>

{% endblock %}
