{% extends 'base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3 class="section-header">Sign Up/In</h3>
      <div class="center-form">
        <form class="" action="index.html" method="post">
          <div class="row">
            <div class="col-md-1">
              <i class="fa fa-at" aria-hidden="true"></i>
            </div>
            <div class="col-md-11">
              <input type="text" name="email" placeholder="Email Address (required)" value="" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="col-md-11">
              <input type="text" name="uname" placeholder="Username (required)" value="" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-md-11">
              <input type="password" name="pword" placeholder="Password (required)" value="" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-secondary">
                <i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                Log In
              </button>
            </div>
            <div class="col-md-5"></div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

{% endblock %}
